.booking-confirmation {
    display: flex;
}

.booking-confirmation>div{
    margin-left: 2.5rem;
}

.hotel-information{
    border: 0.7pt var(--border-grey) solid;
    padding: 0.5rem;
    border-radius: 7%;
    -webkit-border-radius: 7%;
    -moz-border-radius: 7%;
    -ms-border-radius: 7%;
    -o-border-radius: 7%;
}

.hotel-information span{
    font-size: small;
    padding: 0;
    margin: 0;
}

.hotel-information h4{
    margin: 0;
    padding: 0;
}
.hotel-information p{
    margin-top: 0.5rem;
    padding: 0;
}

.booking-information{
    border: 0.7pt var(--border-grey) solid;
    padding: 0.5rem;
    border-radius: 5%;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.booking-information table{
    width: 95%;
}

.booking-information h4{
    margin: 0;
    padding: 0;
    margin-left: 1rem;
}

.booking-information td{
    font-weight: 300;
    padding-left: 2rem;
}

.booking-information th{
    font-weight: 400;
}

.booking-information p{
    margin-top: 0;
    padding-top: 0;
    color: var(--subtext-grey);
}

.price-summary{
    border: 0.7pt var(--border-grey) solid;
    padding: 0.5rem;
    border-radius: 5%;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.price-summary>div{
    display: flex;
    justify-content: space-between;
    background-color: var(--price-summary-blue);
    width: 100%;
    margin-left: -0.5rem;
    padding: 0.5rem;
}

.signed-in{
    border: 0.7pt var(--border-grey) solid;
    padding: 0.5rem;
    border-radius: 0%;
    margin-top: 0.5rem;
    padding: 0.5rem;
    width: 90%;
    display: flex;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
}

.signed-in h3, .signed-in p{
    padding: 0;
    margin: 0;
}

.signed-in img{
    width: 4rem;
    height: 4rem;
   padding-top: 0;
}

.customer-information{
    border: 0.7pt var(--border-grey) solid;
    border-radius: 5%;
    margin-top: 0.5rem;
    padding: 1rem;
    width: 89%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.customer-information form{
    margin-left: 0;
}

.customer-information form label{
    font-size: small;
    font-weight: 600;
}

.customer-information form input{
    
    height: 2rem;
    width: 15rem;
    margin-right: 1rem;
}

.customer-information p{
    font-size: small;
    color: var(--yellow);
    margin: 0;
    
}

.customer-information> input{
    
    height: 2rem;
    width: 15rem;
    margin-right: 3rem;
    height:1rem;
    width: 1rem;
    margin: 0.3rem;
}

.arrival-time{
    border: 0.7pt var(--border-grey) solid;
    border-radius: 5%;
    margin-top: 0.5rem;
    padding: 1rem;
    width: 89%;
}

.confirm-booking{
    display: flex;
    justify-content: right;
    margin-top: 0.5rem;
    padding: 1rem;
    width: 89%;
}

.confirm-booking button{
    background-color: var(--button-blue);
    padding: 1rem;
    cursor: pointer;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}